.sort {
  width: 100%;
  margin-top: 30px;
  select {
    width: 100%;
    margin-top: 10px;
  }
}
.title {
  margin-bottom: 30px;
}
.create-product {
  text-align: end;
}
.search-name {
  margin-bottom: 30px;
  input {
    border-radius: 5px;
    padding: 0px 5px;
    width: 100%;
    height: 36px;
    &::placeholder {
      text-align: center;
    }
  }
}
.search {
  text-align: end;
}
.download-file {
  text-align: end;
}
.title-sort {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-sort {
  select {
    height: 100%;
  }
}
.excel-file {
  img {
    width: max-content;
    height: 36px;
  }
}
.file-name {
  height: 100%;
  display: flex;
  align-items: center;
}
.input-file {
  display: none;
}
.table-products {
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 30px;
}
.total-product {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #add4f7;
  label {
    margin-left: 2%;
  }
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: black;
    margin-right: 5%;
    &:hover {
      color: red;
    }
  }
}
.table {
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
  img {
    width: 50px;
    height: 50px;
  }
}
.panigate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    &:hover {
      background-color: #ccc;
    }
  }
}
