.orders {
  height: 40px;
}
.search-orders {
  input {
    padding: 0px 15px;
    height: 40px;
    width: 100%;
    &::placeholder {
      text-align: center;
    }
    &:focus {
      outline: none;
    }
  }
}
.select-sort {
  margin-bottom: 20px;
  select {
    height: 40px;
    width: 100%;
  }
}
.search-date {
  text-align: center;
  margin-bottom: 20px;
  input {
    height: 40px;
    width: 100%;
  }
  span {
    text-align: center;
  }
}
.title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-search {
  button {
    background-color: #337ab7;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
  }
}
.table-orders {
  overflow: hidden;
  overflow-x: scroll;
  text-align: center;
}
.actions-delivery {
  button {
    border: none;
    background: none;
  }
  .btn-delivery {
    button:hover {
      color: green;
    }
  }
  .btn-cancel {
    button:hover {
      color: red;
    }
  }
  .btn-success {
    button:hover {
      color: green;
    }
  }
}
.actions {
  button {
    border: none;
    background: none;
  }
}
.item {
  height: 40px;
  button {
    width: 100%;
    height: inherit;
    border-right: none;
    border: 1px solid #337ab7;
    background-color: white;
    &:active {
      border: 1px solid orange;
    }
  }
}
.item1 {
  height: 40px;
  button {
    width: 100%;
    height: inherit;
    border: 1px solid #337ab7;
    background-color: white;
    &:active {
      border: 1px solid orange;
    }
  }
}
.total-bill {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #add4f7;
  span {
    margin-left: 2%;
  }
}
.status_cancel {
  span {
    color: red;
  }
}
.status_delivery {
  span {
    color: green;
  }
}
.title-reason {
  span {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
.reason {
  input {
    width: 100%;
    height: 40px;
    padding: 0px 20px;
  }
}
.panigate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    &:hover {
      background-color: #ccc;
    }
  }
}
.unpaid {
  color: orange;
}
.paid {
  color: green;
}
