.wrapper{
    width: 100%;
    height: 100vh;
}
.heading{
    margin-bottom: 30px;
}
.title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-search {
    background-color: #337ab7;
    button{
        width: 100%;
    }
}
.select{
    width: 100%;
    height: 100%;
}
.create-producers{
    text-align: center;
}
.item {
    height: 40px;
}
.click-button{
    width: 100%;
    height: inherit;
    border-right: none;
    border: 1px solid #337ab7;
    background-color: #ccc;
}
.nav-producers{
    width: 90%;
}
.table-producers{
    padding-top: 30px;
    overflow: hidden;
    overflow-x: scroll;
    text-align: center;
    i{
        margin: 0px 2%;
    }
}
.modal-title{
    i{
        color: red;
    }
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.update{
    margin-right: 5%;
    i{
      color: orange; 
    }
}
.delete{
    i{
        color: red;
    }
}
.panigate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    ul{
        display: flex;
    }
    li{
        list-style-type: none;
    }
    a{
        padding: 5px 10px;
        color: black;
        text-decoration: none;
        border: 1px solid black;
        &:hover{
            background-color: #ccc;
        }
    }
}
@media only screen and (max-width:992px){
    .create-blogs{
        margin: 0px;
    }
}
@media only screen and (max-width:768px){
.create-blogs{
    margin: 20px 0px;
}
}
@media only screen and (max-width:576px){
.create-blogs{
    margin: 20px 0px;
}
}