.header-setion {
  width: 100%;
  height: auto;
}
.header-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-infor {
  i {
    color: #73d5c9;
  }
  span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #303c4b;
  }
}
.text-language {
  width: 100%;
  text-align: center;
}
.language {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    padding: 5px 10px;
    position: relative;
    border: 1px solid #ccc;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  a {
    color: #73d5c9;
    &:hover {
      color: #303c4b;
    }
    text-decoration: none;
  }
  &:hover {
    .choose-language {
      display: block;
    }
  }
}
.choose-language {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  z-index: 99;
  li {
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: 0;
    margin: 0;
    &:hover {
      background-color: #c5c8cb;
    }
  }
}
.logo {
  img {
    width: 80%;
  }
}
.nav-item {
  height: 150px;
  padding: 30px 0px;
  box-shadow: 10px 5px 10px 5px rgba(151, 14, 14, 0.05);
  font-weight: 700;
}
.main-menu {
  height: 100%;
}
.title {
  color: #73d5c9;
  font-size: 13px;
}
.quick-access {
  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
  }
  li {
    list-style-type: none;
    margin: auto;
  }
  a {
    text-decoration: none;
    color: #777;
    font-size: 13px;
  }
}
.search {
  margin-top: 20px;
  float: right;
  display: flex;
  input {
    float: left;
    height: 35px;
    padding: 8px 25px 8px 20px;
    font-size: 13px;
    color: #777;
    background: #fff;
    border: 1px solid #e5e5e5;
    &::placeholder {
      text-align: center;
    }
  }
  button {
    float: right;
    width: 40px;
    height: 35px;
    background-color: #333;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-menu {
  text-align: center;
  height: 64px;
  box-shadow: 2px 2px #888888;
}
.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    list-style-type: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.collections {
  position: relative;
  &:hover {
    .collection {
      display: block;
    }
  }
}
.collection {
  width: 150px;
  display: none;
  position: absolute;
  color: white;
  background: #ffffff;
  z-index: 99999;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  li {
    text-transform: none;
    padding: 5px 5px;
    a {
      width: 150px;
    }
  }
}
.categories {
  position: relative;
  &:hover {
    .category {
      display: block;
    }
  }
}
.category {
  display: none;
  position: absolute;
  color: white;
  background: #ffffff;
  z-index: 99999;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  li {
    width: 150px;
    text-transform: none;
    padding: 5px 5px;
  }
}
.menu {
  height: max-content;
  display: none;
  width: 100%;
  a {
    color: white;
    height: 50px;
  }
}
.main {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background-color: #303c4b;
}
.logo-mobile {
  margin-top: 70px;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
  img {
    width: 100%;
  }
}
.menu-collections {
  border-bottom: 1px solid #ccc;
}
.collection-mobile {
  margin: 0;
  padding: 0;
  li {
    width: 100%;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: black;
  }
  h5 {
    width: 90%;
  }
}
.show-lv2 {
  position: absolute;
  width: 90%;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.hiden-lv2 {
  display: none;
}
.icon-menu {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-right: 1px solid white;
  a {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 30px;
    }
  }
}
.btn-search {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-right: 1px solid white;
  a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 30px;
    }
  }
  button {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.show-search {
  display: flex;
  position: absolute;
  top: 55px;
  input {
    border: 1px solid #ccc;
    padding: 10px 5px;
    &:focus {
      outline: none;
    }
  }
  a {
    border: none;
    padding: 0px 15px;
    background-color: #303c4b;
    i {
      color: white;
    }
  }
}
.hiden-search {
  display: none;
}
.shopping-cart {
  position: relative;
  &:hover {
    .cart-detailt {
      display: block;
    }
  }
  height: 82px;
  width: 70px;
  border-right: 1px solid white;
  span {
    font-size: 20px;
  }
}
.cart {
  margin-bottom: 5px;
  background: url("../../../assets/cart-icon.png") no-repeat left top;
  width: 70px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: rgb(33, 202, 24);
  }
}
.cart-detailt {
  display: none;
  position: absolute;
  top: 80%;
  right: 50%;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 999;
  height: 400px;
  width: 400px;
  overflow: hidden;
  overflow-y: scroll;
  button {
    position: absolute;
    bottom: 0;
    left: 35%;
    margin-bottom: 10px;
    padding: 5px 15px;
    color: #fff;
    border: none;
    background-color: #232323;
    &:hover {
      background-color: rgb(221, 92, 113);
    }
  }
}
.product-item {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 30px;
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  span {
    font-size: 13px;
  }
}
.item {
  padding: 0px;
  float: left;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    padding: 10px 20px 11px;
    border-top: 1px solid #232323;
  }
  i {
    font-size: 20px;
  }
  a {
    width: 100%;
    color: white;
    text-decoration: none;
  }
}
.product_name {
  span {
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
.size {
  span {
    font-size: 12px;
    color: #333;
  }
}
.quantity {
  span {
    font-size: 12px;
    color: #333;
  }
}
.price {
  span {
    font-size: 12px;
    color: #333;
  }
}
.total-price {
  span {
    font-size: 12px;
    color: #333;
  }
}
.cart-mobile {
  width: 25%;
  height: 50px;
  border-right: 1px solid white;
  li {
    list-style-type: none;
  }
  a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    i {
      font-size: 30px;
    }
  }
  span {
    font-size: 25px;
    margin-left: 10%;
  }
}
.show-language {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiden-language {
  display: none;
}
.order {
  position: relative;
}
.total-order {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  top: 0%;
  right: -45%;
  background-color: red;
  height: 15px;
  width: 15px;
  span {
    border-radius: 100%;
    color: white;
    font-size: 11px;
  }
}
.order-mobile {
  position: relative;
  width: max-content;
}
.total-order-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  top: 0%;
  right: -25%;
  background-color: red;
  height: 15px;
  width: 15px;
  span {
    border-radius: 100%;
    color: white;
    font-size: 11px;
  }
}
.cart-none {
  padding: 20px 0px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .menu {
    display: block;
  }
  .header-top {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .icon-menu {
    a {
      i {
        font-size: 20px;
      }
    }
  }
  .btn-search {
    a {
      i {
        font-size: 20px;
      }
    }
  }
  .cart-mobile {
    a {
      i {
        font-size: 20px;
        span {
          font-size: 20px;
        }
      }
    }
  }
}
