.wrapper {
  width: 100%;
  height: 100%;
  text-align: justify;
}
.input {
  width: 100%;
  border: none;
  background-color: rgba(219, 217, 217, 0.05);
  &:focus {
    outline: none;
  }
  input {
    width: 100%;
    padding: 0px 5px;
  }
}
.action {
  text-align: center;
  a {
    margin: 5%;
  }
}
.table-content {
  height: 300px;
  overflow: scroll;
}
.table {
  overflow-y: scroll;
}
