.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.inner-banner{
    width: 88%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 600px;
    }
}
.text{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    width: 98%;
    height: 100%;
    text-align: center;
}
.title{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    p{
        margin-left: auto;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    a{
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
            color: orangered;
        }
    }
}
.main-title{
    margin: auto;
}
.null{
    display: none;
}
.carousel{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.item{
    width: 100%;
    height: 30%;
}